# Node.js
node_modules/       # Excluye la carpeta de dependencias
npm-debug.log*      # Excluye los logs de npm
yarn-debug.log*     # Excluye los logs de Yarn
yarn-error.log*     # Excluye los errores de Yarn
#.env                # Excluye archivos de variables de entorno
.DS_Store           # Excluye archivos del sistema macOS
*.log               # Excluye cualquier archivo de logs

# Si usas dist o build para archivos compilados
dist/               # Excluye la carpeta de distribución
build/              # Excluye la carpeta de construcción

# Si usas configuraciones específicas del editor
.vscode/            # Configuración de Visual Studio Code
.idea/              # Configuración de JetBrains IDEs
*.swp               # Archivos temporales de Vim


/server/logs/       # no cargas los logs
/server/node_modules/ #no carga modules 